head{
    font-size: 22px;
}

body{
    background-color:bisque;
    color:rgb(47, 45, 45);
}

a{
    color:rgb(0, 0, 0);
}

a:visited{
    color:rgb(3, 58, 106);
}

a:hover{
    color:rgb(4, 93, 111)
}



